---
- name: Jenkinsグループ作成
  group: name=jenkins gid=45678

- name: Jenkinsユーザー作成
  user: name=jenkins uid=45678 comment="Jenkins Continuous Build server" group="jenkins" groups="docker" home="/var/lib/jenkins" shell="/bin/bash"

- name: Jenkinsユーザー用.sshディレクトリ作成
  file: path=/var/lib/jenkins/.ssh state=directory group=jenkins owner=jenkins mode=0666

- name: Jenkinsユーザー用ssh設定ファイルコピー
  copy: src=./files/ssh/ssh_config dest=/var/lib/jenkins/.ssh/config owner=jenkins group=jenkins mode=0600

- name: Jenkinsユーザー用sshフォルダ権限設定
  command: chmod 777 /var/lib/jenkins/.ssh

- name: Java-OpenJDKインストール
  yum: name=java-1.7.0-openjdk-devel state=latest

- name: Jenkinsリポジトリインストール
  command: wget -O /etc/yum.repos.d/jenkins.repo http://pkg.jenkins-ci.org/redhat/jenkins.repo

- name: Jenkinsリポジトリキーインストール
  rpm_key: state=present key=http://pkg.jenkins-ci.org/redhat/jenkins-ci.org.key

- name: Jenkinsインストール
  yum: name=jenkins state=latest

- name: Jenkins起動追加
  service: name=jenkins enabled=yes state=started

- name: Jenkins起動スクリプト設置
  template: src=./files/bin/jenkins.j2 dest=/usr/local/bin/jenkins owner=root group=root mode=0755

- name: Jenkins-Cliインストール
  shell: |
    sleep {{wait_for_boot}}
    http_response_code=503
    while [ $http_response_code -eq 503 ]
    do
      http_response_code=`curl -LI {{jenkins_cli}} -o /dev/null -w '%{http_code}' -s`
      sleep 5
    done
    wget -t 5 --waitretry 5 -O /usr/lib/jenkins/jenkins-cli.jar {{jenkins_cli}}

- name: jenkins/updateディレクトリ作成
  file: path=/var/lib/jenkins/updates state=directory group=jenkins owner=jenkins mode=0755

- name: jenkinsプラグインセンターアップデート
  shell: wget -O /var/lib/jenkins/updates/default.json {{jenkins_update_from}}


- name: jenkinsプラグインインストール
  command: /usr/local/bin/jenkins install-plugin {{item}}
  with_items:
      - ansicolor
      - ant
      - antisamy-markup-formatter
      - build-monitor-plugin
      - buildtriggerbadge
      - build-pipeline-plugin
      - categorized-view
      - ci-skip
      - cloverphp
      - credentials
      - console-column-plugin
      - configurationslicing
      - cvs
      - disk-usage
      - envinject
      - external-monitor-job
      - extra-columns
      - git
      - git-client
      - gravatar
      - hipchat
      - idobata-notifier
      - javadoc
      - jquery
      - junit
      - ldap
      - locale
      - mailer
      - matrix-auth
      - matrix-project
      - maven-plugin
      - monitoring
      - pam-auth
      - pegdown-formatter
      - progress-bar-column-plugin
      - ruby-runtime
      - scm-api
      - sidebar-link
      - simple-theme-plugin
      - ssh-credentials
      - ssh-slaves
      - subversion
      - timestamper
      - translation
      - urltrigger
      - view-job-filters
      - windows-slaves

- name: jenkins-cli起動
  command: /usr/local/bin/jenkins safe-restart

- name: Jenkinsジョブスクリプト設置
  copy: src=./files/jenkins/jenkins-bootstrap.sh dest=/usr/local/bin/jenkins-bootstrap mode="a+x"
